*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    /* 
        border-box ->   In this type of box the size remains constant. The padding, margin and border will be inwards.

        content-box ->  In this type of box the size is variable. The padding, margin and border will be outwards.
    */

    box-sizing: border-box; 
}


.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1{
    font-size: 45px;
    color: azure;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}

.hero h1 span{
    color: #ff2863;
}

.hero textarea{
    width: 600px;
    height: 250px;
    border-radius: 10px;
    font-size: 15px;
    padding: 20px;
    background: #403d84;
    color: aliceblue;
    margin-bottom: 30px;
    resize: none;
    border: 0;
    outline: 0;
}

textarea::placeholder{
    font-size: 20px;
}

.row{
    display: flex;
    width: 600px;
    align-items: center;
    gap: 20px;
}

button{
    background: #ff2863;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

button img{
    width: 16px;
}

select{
    flex: 1;
    width: 200px ;
    height: 50px;
    border-radius: 35px;
    border: none;
    outline: none;
    padding: 0px 20px;
    background: #403d84;
    color: #fff;
    appearance: none;
    background-image: url(/Resources/dropdown.png); 
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
}